@import url('./styles.default.css');

body{
    background: #efefef;
    animation: fadeIn .6s 1 ease-out forwards;
}

#main{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: #eff6fd;
    --size: 250px;
}

#main.collapsed{
    --size: 70px;
}

#header{
    position: relative;
    display: flex;
    flex-flow: row;
    align-items: stretch;
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding: 3px 0;
    background: var(--bs-white);
    border-bottom: 1px solid var(--cor-borda);
}

#header #brand{
    display: block;
    position: relative;
    width: var(--size);
    line-height: 50px;
    text-align: center;
    color: var(--cor-titulo);
    text-decoration: none;
}

#header #headerContent{
    width: 100%;
    height: 100%;
}

#section{
    width: 100%;
    height: calc(100vh - 100px);
    position: relative;
    display: flex;
    flex-flow: row;
    align-items: stretch;
    justify-content: center;
}

#section #aside{
    display: block;
    position: relative;
    width: var(--size);
    background: var(--bs-white);
    border-right: 1px solid var(--cor-borda);
    /* more aside styles in aside.css file */
}

#section #content{
    display: block;
    position: relative;
    width: 100%;
    padding: 1rem;
    background: var(--bs-light);
}

#footer{
    position: relative;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: var(--bs-white);
    border-top: 1px solid var(--cor-borda);
}

h1{
    color: var(-cor-titulo);
}